<div class="panel panel-default">
    <div class="panel-heading"><span title="XSS Payload Fires" data-toggle="popover" data-placement="top" data-content="This is a list of all of the places where your XSS payload has fired." class="glyphicon glyphicon-fire" aria-hidden="true"></span> XSS Payload Fires</div>
    <table id="injection_data_table" class="table">
        <thead>
            <tr>
		<th class="injection_timestamp_column_header">Date</th>
                <!--<th class="vulnerable_domain_column_header">Vulnerable Domain</th>-->
                <th class="victim_ip_address_column_header">Victim IP</th>
                <th class="vulnerable_page_uri_column_header">Vulnerable Page URI</th>
		<th class="xss_fire_thumbnail_column_header">Thumbnail</th>
                <th class="xss_payload_fire_options_column_header">Options</th>
            </tr>
        </thead>
        <tbody id="injection_data_rows">
        </tbody>
    </table>
    <div class="xss_payload_fires_paginator_div"></div>
</div>
