<div class="panel panel-default">
    <div class="panel-heading"><span title="Collected Pages" data-toggle="popover" data-placement="top" data-content="This is a list of all of the pages which have been collected by your XSS payloads." class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Collected Pages</div>
    <table id="collected_pages_data_table" class="table">
        <thead>
            <tr>
                <th class="collected_pages_page_uri_column_header">Page URI</th>
                <th class="collect_page_options_column_header">Options</th>
            </tr>
        </thead>
        <tbody id="collected_pages_data_rows">
        </tbody>
    </table>
    <div class="collected_pages_paginator_div"></div>
</div>
